<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimal-ui" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no, email=no" />
    <link rel="stylesheet" href="/public/test/style.css"/>
</head>
<body>

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!--
    Created using JS Bin
    http://jsbin.com

    Copyright (c) 2016 by marvin1023 (http://jsbin.com/ceqexapa/12/edit)

    Released under the MIT license: http://jsbin.mit-license.org
    -->
    <meta name="robots" content="noindex">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no,  minimal-ui">
    <meta content="yes"name="apple-mobile-web-app-capable"/>
    <meta content="black"name="apple-mobile-web-app-status-bar-style"/>
    <meta name="format-detection" content="telephone=no, email=no" />
    <link rel="stylesheet" href="../css/global.css">
    <title>手机测试页</title>
</head>
<body>
<header id="header" class="header fixed-top">
    <a href="#" class="fl header-icon icon-list"></a>
    <h1 class="page-title">测试页</h1>
</header>
<section class="header-sub">
    <div class="search-block">
        <input type="search" class="form-text">
    </div>
</section>
<section id="footer" class="footer fixed-bottom">
    <ul class="nav-primary">
        <li><a href="#">Home</a></li>
        <li><a href="#">List</a></li>
        <li><a href="#">Demo</a></li>
        <li><a href="#">Download</a></li>
    </ul>
</section>
<div id="main" class="wrap-page">
    <section class="page">
        <h2 class="guide-title">原生滚动测试</h2>
        <ul class="line-list">
            <li>15932921969（电话识别测试）</li>
            <li>xuyc_brother@foxmail.com（邮箱识别测试）</li>
            <li>popup page 测试</li>
            <li>popup over 测试</li>
            <li>modal 测试</li>
            <li>左上角图标为icon测试，点击为panel测试</li>
            <li class="divider">Divider1</li>
            <li>深圳</li>
            <li>北京</li>
            <li>上海</li>
            <li>广州</li>
            <li class="divider">Divider2</li>
            <li>深圳</li>
            <li>北京</li>
            <li>上海</li>
            <li>广州</li>
            <li class="divider">Divider3</li>
            <li>深圳</li>
            <li>北京</li>
            <li>上海</li>
            <li>广州</li>
            <li class="divider">Divider4</li>
            <li>深圳</li>
            <li>北京</li>
            <li>上海</li>
            <li>广州</li>
            <li class="divider">Divider5</li>
            <li>深圳</li>
            <li>北京</li>
            <li>上海</li>
            <li>广州</li>
            <li class="divider">Divider6</li>
            <li>深圳</li>
            <li>北京</li>
            <li>上海</li>
            <li>广州</li>
        </ul>
    </section>
</div>
</body>
</html>